<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Novo Artigo</h2>
            </div>

            <div class="card-body">
                <form action="/articles/save" method="post">
                    <input type="text" class="form-control" name="title" placeholder="Defina o títutlo do artigo">
                    <br>
                    <textarea name="body" id="article" class="form-control" cols="144" rows="5" placeholder="Defina o corpo do artigo"></textarea>
                    <br>
                    <br>
                    <button class="btn btn-success">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
    
</body>

<%- include ('../../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#article',
        language: 'pt_BR',
        plugins: 'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticals'
    });
</script>