<nav class="navbar navbar-dark bg-success">
    <a class="navbar-brand" href="/">
        <h4 id="navBlogPress">Blogpress</h4>
    </a>

    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
    </ul>
</nav>